[submodule "stage1/repos/HAT"]
	path = stage1/repos/HAT
	url = https://github.com/XPixelGroup/HAT.git
[submodule "stage1/repos/MambaIR"]
	path = stage1/repos/MambaIR
	url = https://github.com/csguoh/MambaIR.git
[submodule "stage1/repos/SwinIR"]
	path = stage1/repos/SwinIR
	url = https://github.com/JingyunLiang/SwinIR.git
[submodule "stage1/repos/swin2sr"]
	path = stage1/repos/swin2sr
	url = https://github.com/mv-lab/swin2sr.git
[submodule "stage1/repos/DAT"]
	path = stage1/repos/DAT
	url = https://github.com/zhengchen1999/DAT.git
